[Desktop Entry]
Name=Weather Widget 2
Comment=Plasmoid showing weather information from met.no server
Icon=weather-clouds
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-KDE-PluginInfo-Category=Environment and Weather
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Kate Buckley
X-KDE-PluginInfo-Email=kate.buckley@gmail.com
X-KDE-PluginInfo-Name=org.kde.weatherWidget-2
X-KDE-PluginInfo-Version=2.2.2
X-KDE-PluginInfo-Website=https://github.com/blackadderkate/weather-widget-2
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-EnabledByDefault=false
X-Plasma-RemoteLocation=

Name[nb]=Weather Widget 2
Name[nl]=Weerwidget 2
Name[ru]=Виджет погоды 2
Name[sv]=Weather Widget 2
Comment[ca]=Plasmoid que mostra informació del temps del servidor de met.no
Comment[nb]=Plasmoid som viser værinformasjon fra met.no
Comment[nl]=Een plasmoid die weerinformatie toont van de met.no-server
Comment[ru]=Плазмоид, показывающий информацию о погоде с сервера met.no
Comment[sv]=Plasmoid som visar väderinformation från met.no (yr.no)
Comment[zh_CN]=添加 Open Weather Map
