[Desktop Entry]
Name=Weather Widget 2
Comment=Plasmoid showing weather information from met.no server
Icon=weather-clouds
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-KDE-PluginInfo-Category=Environment and Weather
X-KDE-ParentApp=X-KDE-PluginInfo-Author=Kate
X-KDE-PluginInfo-Email=kate.buckley@gmail.com
X-KDE-PluginInfo-Name=org.kde.weatherWidget-2
X-KDE-PluginInfo-Version=2.1.2
X-KDE-PluginInfo-Website=https://github.com/blackadderkate/weather-widget-2
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-RemoteLocation=

Comment[zh_CN]=添加 Open Weather Map
